.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #09090b;
    padding: 25px 20px;
    border-right: 1px solid #27272a;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 15px;
    cursor: pointer;
    color: #e5e5e5;
    font-size: 20px;
}

.sidebar .new-chat {
    margin-top: 50px;
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #18181a;
    border: 1px solid #27272a;
    border-radius: 5px;
    font-size: 14px;
    color: #e5e5e5;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.recent-title-container {
    margin: 0 0 15px 10px;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    color: #e5e5e5;
}

.recent-title-container button {
    background-color: #18181a;
    border: 1px solid #27272a;
    color: grey;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

.sidebar .recent-container {
    max-height: 350px;
    overflow-y: scroll;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 10px;
    color: #9ca3af;
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: #27272a;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    display: flex;
    padding-right: 10px;
    color: #e5e5e5;
    cursor: pointer;
}

.icon {
    margin-top: 5px;
}

.bottom-icon {
    margin-top: 3px;
}

.bottom-help-icon {
    margin: 3px 5px 0 1px;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}